<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Můj blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="/images/favicon.png">
</head>
<body>
<main class="container">
    <h1>Seznam</h1>
    <table class="u-full-width">
        <thead>
        <tr>
            <th>Slug</th>
            <th>Author</th>
            <th>Title</th>
            <th>Perex</th>
            <th>Body</th>
            <th>Published</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post: ${seznam}">
            <td><a href="/detail" th:href="@{/(slug=${post.slug})}"> detail</a></td>
            <td th:text="${post.author}">Author</td>
            <td th:text="${post.title}">Title</td>
            <td th:utext="${post.perex}">Perex</td>
            <td th:utext="${post.body}">Body</td>
            <td th:text="${#temporals.format(post.published, 'd. MMMM yyyy')}">1370</td>
        </tr>
        </tbody>
    </table>
    <div class="pager">
        <a th:each="pageNumber : ${#numbers.sequence(0,seznam.totalPages-1)}"
           th:href="@{/(size=${seznam.size}, page=${pageNumber})}"
           th:text="${pageNumber + 1}"
           class="page"
           th:classappend="${pageNumber==seznam.number} ? 'active'"></a>
    </div>
</main>
</body>
</html>